<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powerbridge.bssp.edi.dao.EdiBusinessConfigMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.powerbridge.bssp.edi.entity.EdiBusinessConfig">
		<id column="UID" property="uid" />
		<result column="DOC_TYPE" property="docType" />
		<result column="BIZ_TYPE" property="bizType" />
		<result column="TABLE_NAME" property="tableName" />
		<result column="TABLE_SERVICE" property="tableService" />
		<result column="BIZKEY" property="bizkey" />
		<result column="PRIMARYKEY" property="primarykey" />
		<result column="DATA_SOURCE" property="dataSource" />
		<result column="BEAN_NAME" property="beanName" />
		<result column="STATUS" property="status" />
		<result column="REMARKS" property="remarks" />
		<result column="ORDER_NO" property="orderNo" />
		<result column="CREATE_BY" property="createBy" />
		<result column="CREATE_NAME" property="createName" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_BY" property="updateBy" />
		<result column="UPDATE_NAME" property="updateName" />
		<result column="UPDATE_TIME" property="updateTime" />
	</resultMap>

</mapper>
