<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powerbridge.bssp.edi.dao.EdiSendQueueMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.powerbridge.bssp.edi.entity.EdiSendQueue">
		<id column="UID" property="uid" />
		<result column="AREA_CODE" property="areaCode" />
		<result column="DOC_TYPE" property="docType" />
		<result column="BIZ_TYPE" property="bizType" />
		<result column="SEQ_NO" property="seqNo" />
		<result column="STATUS" property="status" />
		<result column="REMARKS" property="remarks" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_TIME" property="updateTime" />
	</resultMap>
	
	<!-- 批量插入生成的单据队列 -->
     <insert id ="insertCirclationInfoBatch" parameterType="java.util.List" >
<!--          <selectKey resultType ="java.lang.Integer" keyProperty= "id" -->
<!--               order= "AFTER"> -->
<!--              SELECT LAST_INSERT_ID() -->
<!--          </selectKey > -->
         insert into edi_send_queue
        (UID, AREA_CODE, DOC_TYPE, BIZ_TYPE,SEQ_NO,STATUS,REMARKS,CREATE_TIME)
        values
         <foreach collection="list" item="ediSendQueue" index="index" separator=",">
            (
             #{ediSendQueue.uid}, #{ediSendQueue.areaCode},
             #{ediSendQueue.docType},
             #{ediSendQueue.bizType},
             #{ediSendQueue.seqNo},
             #{ediSendQueue.status},
             #{ediSendQueue.remarks},
             #{ediSendQueue.createTime}
            )
        </foreach >
    </insert >

</mapper>
