<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powerbridge.bssp.edi.dao.EdiSendLogMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.powerbridge.bssp.edi.entity.EdiSendLog">
		<id column="UID" property="uid" />
		<result column="AREA_CODE" property="areaCode" />
		<result column="DOC_TYPE" property="docType" />
		<result column="BIZ_TYPE" property="bizType" />
		<result column="SEQ_NO" property="seqNo" />
		<result column="STATUS" property="status" />
		<result column="FAIL_NOTE" property="failNote" />
		<result column="REMARKS" property="remarks" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_TIME" property="updateTime" />
	</resultMap>
	
</mapper>
